# Documentation: https://roots.io/trellis/docs/remote-server-setup/
wordpress_sites:
  snapfast.com:
    site_hosts:
      - 104.236.136.60
    local_path: ../site # path targeting local Bedrock site directory (relative to Ansible root)
    repo: git@github.com:masoninthesis/Snapfast-WP1.1 # replace with your Git repo URL
    branch: master
    repo_subtree_path: git@github.com:roots/bedrock.git # relative path to your Bedrock/WP directory in your repo
    multisite:
      enabled: false
      subdomains: false
    ssl:
      enabled: false
      # cert: ~/ssl/example.com.crt
      # key: ~/ssl/example.com.key
    cache:
      enabled: false
      duration: 30s
    env:
      disable_wp_cron: true
      wp_home: http://104.236.136.60
      wp_siteurl: http://104.236.136.60/wp
      wp_env: staging
      db_name: example_staging
      db_user: example_dbuser
      # Define the following variables in group_vars/staging/vault.yml
      # db_password:
      # auth_key:
      # secure_auth_key:
      # logged_in_key:
      # nonce_key:
      # auth_salt:
      # secure_auth_salt:
      # logged_in_salt:
      # nonce_salt:
